Brotli==1.1.0	
Cython==3.0.12	
Faker==33.3.1	
GitPython==3.1.44	
ImageHash==4.3.1	
Markdown==3.7	
MarkupSafe==3.0.2	
PyJWT==2.10.1	
PyMySQL==1.1.1	
PyYAML==6.0.2	
SQLAlchemy==2.0.37	
absl-py==2.1.0	
adagio==0.2.6	
adlfs==2024.12.0	
aiobotocore==2.17.0	
aiohappyeyeballs==2.4.6	
aiohttp==3.11.12	
aioitertools==0.12.0	
aiosignal==1.3.2	
altair==5.5.0	
annotated-types==0.7.0	
anyio==4.9.0	
appdirs==1.4.4	
asn1crypto==1.5.1	
asttokens==2.4.1	
astunparse==1.6.3	
attrs==25.1.0	
azure-common==1.1.28	
azure-core==1.32.0	
azure-datalake-store==0.0.53	
azure-identity==1.19.0	
azure-storage-blob==12.24.1	
azure-storage-file-datalake==12.18.1	
backports.functools-lru-cache==2.0.0	
beautifulsoup4==4.13.3	
blinker==1.9.0	
blis==1.2.0	
boto3==1.35.81	
botocore==1.35.93	
cachetools==5.5.1	
catalogue==2.0.10	
certifi==2024.8.30	
cffi==1.17.1	
charset-normalizer==3.4.0	
click==8.1.8	
cloudpathlib==0.20.0	
cloudpickle==3.1.1	
cmdstanpy==1.2.5	
colorama==0.4.6	
comm==0.2.2	
confection==0.1.5	
contourpy==1.3.0	
copulas==0.12.1	
coreforecast==0.0.16	
cryptography==44.0.0	
cssselect2==0.7.0	
ctgan==0.10.2	
cycler==0.12.1	
cymem==2.0.11	
dacite==1.9.2	
darts==0.35.0	
dask==2024.12.1	
dask-gateway==2024.1.0	
databricks-sdk==0.41.0	
databricks-sql-connector==3.7.2	
db-dtypes==1.4.1	
decorator==5.1.1	
deepecho==0.6.1	
delta-kernel-rust-sharing-wrapper==0.2.2	
delta-sharing==1.3.1	
dill==0.3.9	
distributed==2024.12.1	
et-xmlfile==2.0.0	
executing==2.1.0	
exrex==0.12.0	
filelock==3.17.0	
flatbuffers==25.1.24	
fonttools==4.54.1	
frozenlist==1.5.0	
fs==2.4.16	
fs-gcsfs==1.5.1	
fsspec==2024.12.0	
fugue==0.9.1	
gast==0.6.0	
gcsfs==2024.12.0	
gigachat==0.1.39.post1	
gitdb==4.0.12	
google-api-core==2.24.1	
google-auth==2.38.0
google-auth-oauthlib==1.2.1
google-cloud-bigquery==3.29.0
google-cloud-bigquery-storage==2.27.0	
google-cloud-core==2.4.1	
google-cloud-storage==2.19.0	
google-crc32c==1.6.0	
google-pasta==0.2.0	
google-resumable-media==2.7.2	
googleapis-common-protos==1.66.0	
graphviz==0.20.3	
greenlet==3.1.1	
grpcio==1.70.0	
grpcio-status==1.70.0	
h11==0.14.0	
h5py==3.12.1
hdbscan==0.8.40	
holidays==0.68	
htmlmin==0.1.12	
httpcore==1.0.7	
httpx==0.28.1	
huggingface-hub==0.28.1	
idna==3.10	
importlib-metadata==8.6.1	
importlib-resources==6.5.2	
ipython==8.29.0	
ipywidgets==8.1.5	
isodate==0.7.2	
jedi==0.19.1	
jinja2==3.1.5	
jmespath==1.0.1	
joblib==1.4.2	
jsonpatch==1.33	
jsonpointer==3.0.0	
jsonschema==4.23.0	
jsonschema-specifications==2025.4.1	
jupyterlab-widgets==3.0.13	
keras==3.8.0	
kiwisolver==1.4.7	
langchain-core==0.3.51	
langchain-gigachat==0.3.9	
langcodes==3.5.0	
langsmith==0.3.26	
language-data==1.3.0	
libclang==18.1.1	
libsass==0.23.0	
lightgbm==4.5.0	
lightning-utilities==0.14.3	
llvmlite==0.44.0	
locket==1.0.0	
lz4==4.4.3	
marisa-trie==1.2.1	
markdown-it-py==3.0.0	
matplotlib==3.9.2	
matplotlib-inline==0.1.7	
mdurl==0.1.2	
miceforest==6.0.3	
ml-dtypes==0.5.1	
mpmath==1.3.0	
msal==1.31.1	
msal-extensions==1.2.0	
msgpack==1.1.0	
multidict==6.1.0	
multimethod==1.12	
murmurhash==1.0.12	
mysql-connector-python==9.1.0	
namex==0.0.8	
narwhals==1.25.2	
networkx==3.4.2	
nfoursid==1.0.1	
numba==0.61.0	
numpy==2.0.2	
oauthlib==3.2.2	
openpyxl==3.1.5	
opt-einsum==3.4.0	
optree==0.14.0	
orjson==3.10.16	
packaging==24.1	
pandas==2.2.3	
pandas-gbq==0.26.1	
parso==0.8.4	
partd==1.4.2	
patsy==1.0.1	
pdf-reports==0.3.7	
phik==0.12.4	
phonenumbers==8.13.54	
pillow==11.0.0	
pip==25.1	
platformdirs==4.3.6	
plotly==6.0.0	
pmdarima==2.0.4	
portalocker==2.10.1	
preshed==3.0.9	
presidio-analyzer==2.2.357	
prompt-toolkit==3.0.48	
propcache==0.2.1	
prophet==1.1.6	
proto-plus==1.26.0	
protobuf==5.29.3	
psutil==6.1.1	
psycopg2==2.9.10	
pure-eval==0.2.3	
pyOpenSSL==24.3.0	
pyarrow==19.0.0	
pyasn1==0.6.1	
pyasn1-modules==0.4.1	
pycparser==2.22	
pydantic==2.10.6	
pydantic-core==2.27.2	
pydata-google-auth==1.9.1	
pydeck==0.9.1	
pydyf==0.11.0	
pygments==2.18.0	
pyod==2.0.3	
pyodbc==5.2.0	
pyparsing==3.2.0	
pyphen==0.17.2	
pypugjs==5.11.0	
python-dateutil==2.9.0.post0	
pytorch-lightning==2.5.1	
pytz==2024.2	
pywavelets==1.8.0	
pywin32==308	
rdt==1.13.2	
referencing==0.36.2	
regex==2024.11.6	
requests==2.32.3	
requests-file==2.1.0	
requests-oauthlib==2.0.0	
requests-toolbelt==1.0.0	
rich==13.9.4	
rpds-py==0.24.0	
rsa==4.9	
s3fs==2024.12.0	
s3transfer==0.10.4	
safetensors==0.5.2
scikit-learn==1.6.1	
scipy==1.14.1	
sdmetrics==0.18.0	
sdv==1.17.4	
seaborn==0.13.2	
setuptools==65.5.1	
shap==0.47.1	
shellingham==1.5.4	
six==1.16.0	
slicer==0.0.8	
smart-open==7.1.0	
smmap==5.0.2	
sniffio==1.3.1	
snowflake-connector-python==3.13.2	
snowflake-sqlalchemy==1.7.3	
sortedcontainers==2.4.0	
soupsieve==2.6	
spacy==3.8.4	
spacy-legacy==3.0.12	
spacy-loggers==1.0.5	
sqlparse==0.5.3	
srsly==2.5.1
stack-data==0.6.3
stanio==0.5.1
statsforecast==2.0.1
statsmodels==0.14.4	
streamlit==1.44.1	
sympy==1.13.1	
tbats==1.1.3	
tblib==3.0.0	
tenacity==9.1.2	
tensorboard==2.18.0	
tensorboard-data-server==0.7.2	
tensorboardX==2.6.2.2	
tensorflow==2.18.0	
tensorflow-intel==2.18.0	
tensorflow-io-gcs-filesystem==0.31.0	
termcolor==2.5.0	
thinc==8.3.4	
threadpoolctl==3.5.0	
thrift==0.20.0	
tinycss2==1.4.0	
tinyhtml5==2.0.0	
tldextract==5.1.3	
tokenizers==0.21.0	
toml==0.10.2	
tomlkit==0.13.2	
toolz==1.0.0	
torch==2.6.0	
torchmetrics==1.7.1	
tornado==6.4.2	
tqdm==4.64.1	
traitlets==5.14.3	
transformers==4.48.3	
triad==0.9.8	
typeguard==4.4.1	
typer==0.15.1	
types-requests==2.32.0.20250328	
typing-extensions==4.12.2	
tzdata==2024.2	
urllib3==2.3.0	
utilsforecast==0.2.12	
uuid==1.30	
visions==0.7.6	
wasabi==1.1.3	
watchdog==6.0.0	
wcwidth==0.2.13	
weasel==0.4.1	
weasyprint==64.0	
webencodings==0.5.1	
werkzeug==3.1.3	
wheel==0.38.4	
widgetsnbextension==4.0.13	
wordcloud==1.9.4	
wrapt==1.17.2	
xarray==2025.3.1	
xgboost==3.0.0	
yarl==1.18.3	
ydata-core==0.7.0	
ydata-datascience==0.7.0	
ydata-profiling==4.16.1	
ydata-sdk==2.0.0rc15	
ydata-synthetic==2.0.0	
zict==3.0.0	
zipp==3.21.0	
zopfli==0.2.3.post1	
zstandard==0.23.0	